h1 {
  text-align: center;
  color: #F68974;
  font-size: 2.5rem;
  line-height: 1.5;
}

img {
  max-width: 60%;
}

.inputs {
  max-width: 40em;
  margin: 1% auto;
}

input {
  border-color: green;
  width: 20em;
  max-width: 100%;
}

button {
  margin: 0 auto;
  display: block;
}

.missing {
  border-color: red;
  color: red;
}

.route {
  border: 1px solid #F68974;
  padding: 1%;
  margin: 1%;
}

@media (min-width: 50em){
  .route {
    display: inline-block;
    width: 48%;
    box-sizing: border-box;
  }
}
